{% extends 'dashboard/tutor-base.html' %}
{% load static from static %}
{% block page_content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <!-- <div class="page-title">
                <div class="title_left">
                    <h3>Form Validation</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tutorial Sessions<small></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a</li> -->
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a></li>
                                        <li><a href="#">Settings 2</a></li>
                                    </ul>
                                </li> -->
                                <li><button class="btn btn-primary" data-toggle="modal" data-target="#addTutorialSession"><i class="fa fa-plus"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-6">
                                    <div class="chips chips-placeholder"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="existing-tutorial-sessions" class="d-flex">
                {% for tutorial_session in tutorial_sessions %}
                    {% include 'tutor/session-template.html' %}
                {% endfor %}
            </div>
            <!-- The Modal -->
            <div class="modal" id="addTutorialSession">
                <div class="modal-dialog">
                    <div class="modal-content">
  
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create a tutorial session</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
  
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form id="add-tutorial-session" method="POST">
                                <div class="form-group">
                                    <label for="email">Course: </label>
                                    <select id="course" class="select2_single form-control" tabindex="-1" name="course" required>
                                        {% for tutor_course in tutor_courses %}
                                            <option value="{{tutor_course.course.id}}">{{tutor_course.course.title}} - {{tutor_course.course.code}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4 form-group">
                                        <label for="date">Date: </label>
                                        <input type="date" class="form-control" id="date" name="date" required>
                                    </div>
                                    <div class="col-xs-12 col-md-4 form-group">
                                        <label for="time-from">Time / from: </label>
                                        <input type="time" class="form-control" id="time-from" name="time-from" required>
                                    </div>
                                    <div class="col-xs-12 col-md-4 form-group">
                                        <label for="time-to">Time / To: </label>
                                        <input type="time" class="form-control" id="time-to" name="time-to" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <label for="location">location: </label>
                                        <select id="location" class="select2_single form-control" tabindex="-1" name="location" required>
                                            {% for location in locations %}
                                                <option value="{{location.id}}">{{location.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xs-6 form-group">
                                        <label for="cover-image">Cover Image: </label>
                                        <input type="file" class="form-control" id="cover-image" name="cover-image">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="cost">Cost / XAF: </label>
                                    <input type="number" class="form-control" id="cost" name="cost">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description: </label>
                                    <textarea required id="description" name="description" class="form-control" row="4"></textarea>
                                </div>
                                <div class="modal-footer">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form> 
                        </div>
  
                        <!-- Modal footer -->
                        
  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock page_content %}

{% block js %}
    <script src="{% static 'dashboard/js/my-courses.js' %}"></script>
{% endblock js %}